---
layout: default
---
<article>

<h1 class="entry-title">{{ page.title }}</h1> 

<!-- Post Content -->
<div class="article-content">
	{{content}}
</div>

</article>
{% assign this_category = page.categories[0] %}

{% if site.categories[this_category].size > 1 %}
<aside class="related">
<h2>Materi/Soal terkait :</h2>
<ul>
    {% for category in site.categories  %}
      {% for post in category[1]  %}
          {% for category in post.categories %}
          {% if category == this_category and post.title != page.title %}
          <li class="article-title">
            <a class="article-link" href="{{ site.baseurl }}{{ post.url }}" title="Permalink to {{ post.title|striptags }}">{{ post.title }}</a>
          </li>
          {% endif %}
          {% endfor %}
      {% endfor %}
    {% endfor %}
</ul>
</aside>


{% endif %}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript">MathJax.Hub.Config({
          extensions: ['tex2jax.js', "MathMenu.js", "MathZoom.js"],
	  jax: ["input/TeX", "output/HTML-CSS"],
	  messageStyle: 'none',
	  tex2jax: {
	    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
            processEscapes: false
	  },
	  config: ["MMLorHTML.js"],
	  TeX: {
	      extensions: ['AMSmath.js', 'AMSsymbols.js', 'noErrors.js', 'noUndefined.js', 'color.js']
	    },
	  displayAlign: "left",
	  styles: {
		".MathJax": {
		  color: "rgb(12, 0, 142)"
		}
	    },
	  'HTML-CSS': { availableFonts: ['TeX'] }
      });
</script>

{% if site.show_ads %}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!--
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-2960681782930244"
     data-ad-slot="9248061601"></ins>
-->
<ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-2960681782930244"
    data-ad-slot="9248061601"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% endif %}

{% if site.show_comments %}
<div id="graphcomment"></div>
<script type="text/javascript">

  /* - - - CONFIGURATION VARIABLES - - - */

  // make sure the id is yours
  window.graphcomment_id = 'www-meetmath-com';

  /* - - - DON'T EDIT BELOW THIS LINE - - - */

  (function() {
    var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
    gc.src = 'https://graphcomment.com/js/integration.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
  })();
</script>
<style type="text/css">
  #graphcomment {
    margin-top: 100px;
  }
  .gc-header-brand-wrapper, 
  .hr-footer {
    display: none;
  }

</style>
{% endif %}
